@import "main.css";

html, body{
    padding: 0;
    margin: 0;
    background-color: red;
}

ul, li {
    padding:0;
    margin:0;
    list-style: none;
}

.test-autoprefixer{
    display: flex;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #dddddd;
}

